$width: 5rem;
$color: #2196f3;
.container-loading {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffb3;
}

//Loader from https://site.uplabs.com/posts/loading-interface-inspiration
$loader--width: 250px;
$loader-dot--size: 20px;

.loader-line {
  z-index: 10000;
  height: $loader-dot--size;
  width: $loader--width;
  .loader--dot {
    animation: loaderline ease-in-out 3s infinite;
    height: $loader-dot--size;
    width: $loader-dot--size;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    background-color: $color;
    &:first-child {
      opacity: 0.3;
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      opacity: 0.4;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      opacity: 0.5;
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      opacity: 0.6;
      animation-delay: 0.2s;
    }
    &:nth-child(5) {
      opacity: 0.8;
      animation-delay: 0.1s;
    }
    &:nth-child(6) {
      opacity: 1;
      animation-delay: 0s;
    }
  }
  .loader--text {
    width: 10rem;
    margin-top: 2rem;
    &:after {
      content: "Silahkan tunggu";
      font-weight: bold;
      font-size: 18px;
      color: black;
      animation: loading-text 3s infinite;
    }
  }
}

@keyframes loaderline {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX($loader--width - $loader-dot--size);
  }
  65% {
    transform: translateX($loader--width - $loader-dot--size);
  }
  95% {
    transform: translateX(0);
  }
}

@keyframes loading-text {
  0% {
    content: "Silahkan tunggu";
  }
  25% {
    content: "Silahkan tunggu.";
  }
  50% {
    content: "Silahkan tunggu..";
  }
  75% {
    content: "Silahkan tunggu...";
  }
}
